body {
    background-color: #f1efe9;
}

nav {
    background-color: #e2ded1;
}

.cards {
    width: 18rem;
    background-color: #e2ded1;
}

img {
    background-color: #f1efe9;
    /*padding: 2px;*/
}
